# Build results
bin/
obj/
*.dll
*.pdb

# IDE
.idea/
.vs/
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment
appsettings.local.json
appsettings.Production.json
.env
*.db
*.db-shm
*.db-wal

# User Secrets
secrets.json
